@font-face {
    font-family: beyno;
    src: url('BEYNO.ttf');
}

@mixin clearfix() {
    &::after {
      display: block;
      content: "";
      clear: both;
    }
  }

* {
    box-sizing: border-box; // outline: none !important;
    font-family: 'Lato', sans-serif;
    &:focus {
        outline: none !important;
        outline: 0;
      }
}
// a,
//  a:hover,
//  a:visited {
//    color: inherit;
//    text-decoration: none !important;
//  }

body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
   
}

header {
    // border: solid 5px #009dda;
    height: 73px;
    background-color: white;
 
}

.navbar {
    // height: 70px;
    background-color: white !important;
}

a.navbar-brand {
    
  
    font-size: 30px;
    span:nth-child(1) {
        color: #503392;
        font-family: beyno;
    }
    span:nth-child(2) {
        color: #009dda;
        font-family: beyno;
    }

}


.nav-item {
    font-size: 16px;
    margin-right: 30px;

    .form-control {
        border-radius: 0;
        background-color: #e8e4f1;
        border: none;
        padding: 0 10px;
        vertical-align: middle;
    }

    .btn {
        // background-color: #009dda;
        background-color: #e8e4f1;
        // border-color: #009dda;
        // border: #e8e4f1;
        border: none;
        border-radius: 0;
        color: #5b5b5b;
        cursor: pointer;
        outline: none;
        
    }
  
}
.nav-item:last-child {
    margin-right: 0px;
}



#carousel {
    // padding-top: 70px;
    height: 100vh;
    img {
        object-fit: cover;
    }
    .carousel_text {
        // border: 10px solid red;
        position: absolute;
     
        margin: auto;
        bottom: 50%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: grid;
        justify-content: center;
        align-content: center;
        text-align: center;
        h1 {
          
            font-size: 64px;
            font-weight: bold;
            margin-bottom: 20px;
            span:nth-child(1) {
                color: white;
            }
            span:nth-child(2) {
                color: #fff200;
            }
        }
        p  {
           
            margin-top: 20px;
            font-size: 16px;
            color: white;
            max-width: 800px;
            line-height: 40px;
        }
    }

}

.carousel-inner img {
    // width: 100%;
    height: 100vh;
}
.carousel-indicators li {
    height: 14px;
    width: 14px;
    border-radius: 50%;

}

.carousel-control-container {
      background-color: rgba(255, 255, 255, 0.3);
      display:flex;
      padding: 30px;
}


// HOME SECTION
#home {
    padding-top: 70px;
    h1 {
        font-size: 35px !important;
        margin-top: 35px;
        margin-bottom: 22px;
        color: #009dda;
        text-transform: uppercase;
        font-weight: bold;
        span {
            color: #232323;
        }
    }
    & > p {
        max-width: 700px;
        margin: auto;
        font-size: 14px;
        color: #999999;
        line-height: 24px;
        margin-bottom: 72px;
    }
}
.home-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1140px) {
    .home-flex-container {
        flex-direction: column;
    }
}

.home-card-container {
    position: relative;
    margin: 10px 0;
    min-width: 200px;
    max-width: 200px;
    height: 270px;
    border: 1px solid #ebebeb;
    .home-card-container-main-image {
        margin: auto;
        display: block;
        margin-top: 35px;
    }
    & > h5 {
        margin-top: 45px;
        font-size: 14px !important;
        font-weight: bold;
        text-transform: uppercase;
        color: #232323;
    }
    & > p {
        
        color: #373737;
        font-size: 14px !important;
        line-height: 20px;
        max-width: 150px;
        margin: auto;
        margin-top: 25px;
    }
}

.home-card-container:hover .home-card-container-overlay {
    height: 150px;
}

.home-card-container-overlay {
    position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 0px;
  transition: .5s ease;
    background-color: #503392;
    color: white;
    h5 {
        margin-top: 32px;
        margin-bottom: 32px;
        font-size: 14px !important;
        font-weight: bold;
        text-transform: uppercase;
    }
    a {
        margin-left: 5px;
        margin-right: 5px;
    }
}




// PRODUCTS SECTION

#products {
    padding: 0;
    .products-padding {
        
        height: 70px;
    }
    .products-main {
        background: url('../images/noise.png') no-repeat; 
        background-size: cover;
        min-height: 840px;
        width: 100%;
        margin: 0;
        position: relative;
        height: 100%;
        // border: solid 5px red;
    }



    .products-main-title-container {
        // border: solid 5px red;
        // top: 0;
        // left: 0;
        // right: 0;
        // position: absolute;
        // z-index: 99;
        height: 161px;
        
        background: url('../images/overlay1.png') no-repeat center ; 
        h1 {
            padding-top: 35px;
            color: #fff200;
            text-transform: uppercase;
            font-weight: bold;
            span {
              
                color:white;
            }
        }



    }
    .carousel-indicators li {
        height: 14px;
        width: 14px;
        border-radius: 50%;
        background-color: lightgrey;
    
    }
    li.active {
        background-color: #503392 !important;
    }

    .products-main-content {
        
    min-height: 679px;
    position: relative;
    }

    .carousel-item {
        min-height: 679px;
    }
    .products-grid-container {
        min-height: 631px;
        display: grid;
        justify-content: space-between;
        grid-template-columns: auto auto auto;
        align-content: center;
        border: solid 1px red;
        padding: 0;
        grid-row-gap: 50px;
    }

    @media screen and (max-width: 1140px) {
        .products-grid-container  {
            grid-template-columns: auto;
            justify-content: center;
        }
        .products-tile-container:last-child {
            margin-bottom: 35px;
        }
    }

    .products-tile-container {
        border: solid 1px grey;
        width: 350px;
        height: 150px;
        display: inline-block;
        min-width: 350px;
        img {
            height: 145px;
            width: 145px;
            float: left;
        }
        div {
            margin-left:170px;
        }
    }  
}

#about {
    height: 800px;
    padding-top: 70px;
}

// CONTACT SECTION
#contact {
    padding: 0;
    padding-top: 70px;
    h1 {
        font-size: 35px !important;
        margin-top: 35px;
        margin-bottom: 22px;
        color: #009dda;
        text-transform: uppercase;
        font-weight: bold;
        span {
            color: #232323;
        }
    }
    & > p {
        max-width: 700px;
        margin: auto;
        font-size: 14px;
        color: #999999;
        line-height: 24px;
        margin-bottom: 72px;
    } 
}
.map-container {
    position: relative;
}



#map {
    min-height: 600px;
    
}
::placeholder {
    color: white;
}
#form-container {
    position: absolute;
    width: 900px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    color: white;
    form {
        display: inline-block;
        vertical-align: middle;
    }

    input[type=text] {
        border: 1px solid white;
        background-color: transparent;
        padding: 10px;
        color: white;
    }
    input[name=emails] {
        border: 1px solid white;
        background-color: transparent;
        padding: 10px;
        color: white;
    }
    textarea {
        border: 1px solid white;
        background-color: transparent;
        overflow: hidden;
        color: white;
        padding: 10px;
        resize: none;
    }

    input[type=submit] {
        border: none;
        background-color: yellow;
        padding: 10px;
        float: right;
    }

    & > div {
        display: inline-block;
        vertical-align: middle;
    }




}

.checkbox-container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
  
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;

    background-color: transparent;
    border: 1px solid white;
}

/* On mouse-over, add a grey background color */
// .checkbox-container:hover input ~ .checkmark {
//     background-color: white;
// }

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
