@font-face {
  font-family: beyno;
  src: url("fonts/BEYNO.ttf"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }
  body:focus {
    outline: none !important;
    outline: 0; }

a.navbar-brand {
  font-family: beyno; }

#carousel {
  height: 800px; }

#home {
  height: 800px;
  padding-top: 70px; }

#products {
  height: 800px;
  padding-top: 70px; }

#about {
  height: 800px;
  padding-top: 70px; }

#contact {
  height: 800px;
  padding-top: 70px; }
