@font-face {
    font-family: beyno;
    src: url('BEYNO.ttf');
}

@mixin clearfix() {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    &:focus {
        outline: none !important;
        outline: 0;
    }
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    min-width: 400px;
    overflow-x: hidden;
}

@media screen and (max-width: 420px) {
    body {
        overflow-x: auto;
    }
}

#ie-cover {
    display: none;
    position: fixed;
    z-index: 999 !important;
    width: 100%;
    height: 100%;
    color: #009dda;
    background-color: white;
    p {
        text-align: center;
        font-size: 24px;
        a {
            color: #503392;
        }
    }
}

header {
    height: 73px;
    background-color: white;
    padding: 0 !important;
    z-index: 900 !important;
}

@media screen and (max-width: 1024px) {
    header {
        padding: 0 !important;
    }
}

.navbar {
    background-color: white !important;
}

a.navbar-brand {
    font-size: 30px;
    span:nth-child(1) {
        color: #503392;
        font-family: beyno;
    }
    span:nth-child(2) {
        color: #009dda;
        font-family: beyno;
    }
}

@media only screen and (min-width: 991px) {
    .navbar {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.nav-item {
    font-size: 16px;
    margin-right: 30px;
    a.active {
        color: #232323 !important;
    }
    .form-control {
        border-radius: 0;
        background-color: #e8e4f1;
        border: none;
        padding: 0 10px;
        vertical-align: middle;
    }
    .btn {
        background-color: #e8e4f1; 
        border: none;
        border-radius: 0;
        color: #5b5b5b;
        cursor: pointer;
        outline: none;
    }
}

@media only screen and (min-width: 991px) {
    .nav-item {
        & > a {
            line-height: 73px;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    .input-group {
        padding: 18px 0;
    }
}



.nav-item:last-child {
    margin-right: 0px;
}

#carousel {
    height: 100vh;
    img {
        object-fit: cover;
    }
    .carousel_text {
        position: absolute;
        margin: auto;
        bottom: 50%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: grid;
        justify-content: center;
        align-content: center;
        text-align: center;
        h1 {
            font-size: 64px;
            font-weight: bold;
            margin-bottom: 20px;
            span:nth-child(1) {
                color: white;
            }
            span:nth-child(2) {
                color: #fff200;
            }
        }
        p {
            margin-top: 20px;
            font-size: 16px;
            color: white;
            max-width: 800px;
            line-height: 40px;
        }
    }
}

.carousel-inner img {
    height: 100vh;
}

.carousel-indicators li {
    height: 14px;
    width: 14px;
    border-radius: 50%;
}

.carousel-control-container {
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    padding: 30px;
}

// HOME SECTION
#home {
    padding-top: 70px;
    h1 {
        font-size: 35px !important;
        margin-top: 35px;
        margin-bottom: 22px;
        color: #009dda;
        text-transform: uppercase;
        font-weight: bold;
        span {
            color: #232323;
        }
    }
    &>p {
        max-width: 700px;
        margin: auto;
        font-size: 14px;
        color: #999999;
        line-height: 24px;
        margin-bottom: 72px;
    }
}

.home-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .home-flex-container {
        flex-direction: column;
    }
}

.home-card-container {
    position: relative;
    margin: 10px 0;
    min-width: 200px;
    max-width: 200px;
    height: 270px;
    border: 1px solid #ebebeb;
    .home-card-container-main-image {
        margin: auto;
        display: block;
        margin-top: 35px;
        width: 60px;
        height: 60px;
    }
    &:nth-child(1)>.home-card-container-main-image {
        background: url('../images/home1.png') no-repeat center;
    }
    &:nth-child(2)>.home-card-container-main-image {
        background: url('../images/home2.png') no-repeat center;
    }
    &:nth-child(3)>.home-card-container-main-image {
        background: url('../images/home3.png') no-repeat center;
    }
    &:nth-child(4)>.home-card-container-main-image {
        background: url('../images/home4.png') no-repeat center;
    }
    &:nth-child(5)>.home-card-container-main-image {
        background: url('../images/home5.png') no-repeat center;
    }
    &>h5 {
        margin-top: 45px;
        font-size: 14px !important;
        font-weight: bold;
        text-transform: uppercase;
        color: #232323;
    }
    &>p {
        color: #373737;
        font-size: 14px !important;
        line-height: 20px;
        max-width: 150px;
        margin: auto;
        margin-top: 25px;
    }
}

.home-card-container:hover .home-card-container-overlay {
    height: 150px;
}

.home-card-container-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0px;
    transition: .5s ease;
    background-color: #503392;
    color: white;
    h5 {
        margin-top: 32px;
        margin-bottom: 32px;
        font-size: 14px !important;
        font-weight: bold;
        text-transform: uppercase;
    }
    a {
        margin-left: 5px;
        margin-right: 5px;
    }
}

// PRODUCTS SECTION
#products {
    padding: 0;
    .products-padding {
        height: 70px;
    }
    .products-main {
        background: url('../images/noise.png') no-repeat;
        background-size: cover;
        min-height: 840px;
        width: 100%;
        margin: 0;
        position: relative;
        height: 100%;
    }
    .products-main-title-container {
        height: 161px;
        background: url('../images/overlay1.png') no-repeat center;
        h1 {
            padding-top: 35px;
            color: #fff200;
            text-transform: uppercase;
            font-weight: bold;
            span {
                color: white;
            }
        }
    }
    .carousel-indicators li {
        height: 14px;
        width: 14px;
        border-radius: 50%;
        background-color: lightgrey;
    }
    li.active {
        background-color: #503392 !important;
    }
    .products-main-content {
        min-height: 679px;
        position: relative;
    }
    .carousel-item {
        min-height: 679px;
    }
    .products-grid-container {
        min-height: 631px;
        display: grid;
        justify-content: space-between;
        grid-template-columns: auto auto auto;
        align-content: center;
        padding: 0;
        grid-row-gap: 50px;
        margin-top: -21px;
    }
    @media screen and (max-width: 1024px) {
        .products-grid-container {
            grid-template-columns: auto;
            justify-content: center;
        }
        .products-tile-container:last-child {
            margin-bottom: 35px;
        }
    }
    .products-tile-container {
        width: 350px;
        height: 150px;
        display: inline-block;
        min-width: 350px;
        img {
            height: 145px;
            width: 145px;
            float: left;
        }
        div {
            margin-top: 20px;
            margin-left: 170px;
            text-align: left;
            h3 {
                font-size: 24px;
                text-transform: uppercase;
                color: #232323;
                font-weight: bold;
            }
            h6 {
                font-size: 16px;
                color: #503392;
            }
            p {
                font-size: 14px;
                color: #373737;
                line-height: 24px;
            }
        }
    }
}

// ABOUT SECTION
#about {
    height: 820px;
    padding-top: 70px;
    font-size: 0;
    .about-left {
        vertical-align: top;
        display: inline-block;
        width: 50%;
        font-size: 13px;
        h1 {
            font-size: 35px !important;
            margin-top: 40px;
            margin-bottom: 22px;
            color: #232323;
            text-transform: uppercase;
            font-weight: bold;
            span {
                color: #009dda;
            }
        }
        &>p {
            max-width: 700px;
            margin: auto;
            font-size: 14px;
            color: #999999;
            line-height: 24px;
            margin-bottom: 45px;
        }
        &>p:nth-child(3) {
            color: #373737;
        }
        .about-name-container {
            font-weight: bold;
            text-transform: uppercase;
            color: #444444;
            margin-bottom: 10px;
            @include clearfix;
            .about-name {
                float: left;
            }
            .about-percentage {
                float: right;
            }
        }
        .about-scale-container {
            height: 9px;
            border: 1px solid #dddddd;
            padding: 2px;
            margin-bottom: 35px;
            .about-scale {
                transition: 1s ease;
                background-color: #009dda;
                height: 3px;
                width: 0;
            }
        }
    }
    .about-right {
        vertical-align: top;
        display: inline-block;
        width: 50%;
        height: 100%;
        background: url("../images/ipad-mockup.png") no-repeat center;
    }
    @media screen and (max-width: 1024px) {
        .about-left {
            width: 100%;
        }
        .about-right {
            display: none;
        }
    }
}

// CONTACT SECTION
#contact {
    padding: 0;
    padding-top: 70px;
    h1 {
        font-size: 35px !important;
        margin-top: 35px;
        margin-bottom: 22px;
        color: #009dda;
        text-transform: uppercase;
        font-weight: bold;
        span {
            color: #232323;
        }
    }
    &>p {
        max-width: 700px;
        margin: auto;
        font-size: 14px;
        color: #999999;
        line-height: 24px;
        margin-bottom: 72px;
    }
}

.map-container {
    position: relative;
}

#map {
    min-height: 634px;
}

#form-container {
     ::placeholder {
        color: #b7b7b7;
    }
    position: absolute;
    font-size: 16px;
    width: 946px;
    height: 434px;
    background-color: rgba(0,
    0,
    0,
    0.7);
    margin: auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    color: #b7b7b7;
    padding: 82px 68px;
    form {
        display: inline-block;
        width: 500px;
        vertical-align: top; 
        &>div {
            width: 489px;
            @include clearfix;
        }
    }
    input[type=text] {
        border: 1px solid #b7b7b7;
        background-color: transparent;
        padding: 0 10px;
        color: #b7b7b7;
        line-height: 50px;
        width: 238px;
        margin-right: 10px;
    }
    input[name=emails] {
        border: 1px solid #b7b7b7;
        background-color: transparent;
        padding: 0 10px;
        color: #b7b7b7;
        line-height: 50px;
        width: 238px;
    }
    textarea {
        border: 1px solid #b7b7b7;
        background-color: transparent;
        overflow: hidden;
        color: #b7b7b7;
        padding: 10px;
        resize: none;
        width: 489px;
        margin-top: 13px;
        height: 144px;
        margin-bottom: 7px;
    }
    input[type=submit] {
        border: 1px solid #ffff00;
        background-color: #ffff00;
        height: 48px;
        width: 120px;
        cursor: pointer;
        float: right;
        color: #373737;
    }
    &>div {
        display: inline-block;
        vertical-align: top;
        width: 200px;
        color: #f3f3f3;
        margin-left: 80px;
        p {
            margin: 0;
        }
    }
}

@media screen and (max-width: 1024px) {
    #map {
        min-height: 660px;
    }
    #form-container {
        width: 400px;
        height: 660px;
        padding: 20px 15px;
        form {
            display: block;
            width: 100%;
            &>div {
                width: 100%;
            }
        }
        input[type=text] {
            display: block;
            margin-bottom: 13px;
        }
        textarea {
            width: 100%;
        }
        input[type=submit] {
            margin-top: 14px;
            float: none;
            display: block;
        }
        &>div {
            margin: 0;
            margin-top: 23px;
            text-align: center;
            width: 100%;
        }
    }
}

.checkbox-container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0px;
    cursor: pointer;
    user-select: none;
    margin-top: 23px;
}

@media screen and (max-width: 1024px) {
    .checkbox-container {
        display: block;
        margin-top: 0px;
    }
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 1px solid #b7b7b7;
}

.checkbox-container input:checked~.checkmark {
    background-color: transparent;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked~.checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: 1px solid #b7b7b7;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

footer {
    padding: 0 30px;
    background-color: #1a1a1a;
    @include clearfix;
    p {
        color: #7a7a7a;
        font-size: 16px;
        margin: 0;
        line-height: 60px;
        float: left;
    }
    div {
        float: right;
        line-height: 60px;
        a {
            margin-left: 20px;
        }
    }
}

@media screen and (max-width: 600px) {
    footer {
        padding: 0 15px;
        p {
            float: none;
            text-align: center;
        }
        div {
            float: none;
            text-align: center;
            a {
                margin: 0 10px;
            }
        }
    }
}